<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-md-6 col-lg-3">
                    <div class="widget no-box">
                        <img class="img-fluid" src="../../../assets/img/Afaq-_03.png"/>
                
                        <!-- <img src="img/callus.svg" class="img-fluid img-center"/> -->
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-2">
                    <div class="widget no-box">
                        <h5 class="widget-title">Commuinity</h5>
                        <ul class="thumbnail-widget">  
                            <li>
                                <div class="thumb-content"><a href="#.">Create Account</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Forum</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Get Coupon Code</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-2">
                    <div class="widget no-box">    
                        <h5 class="widget-title">Support</h5>
                        <ul class="thumbnail-widget">  
                            <li>
                                <div class="thumb-content"><a href="#.">Terms Condtion</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Privacy & Policy</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Live Support</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Get Help</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-2">
                    <div class="widget no-box">    
                        <h5 class="widget-title">Join Us</h5>    
                        <ul class="thumbnail-widget">  
                            <li>
                                <div class="thumb-content"><a href="#.">Members</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Instructors</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#.">Partnership</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12  col-md-12 col-lg-2">
                    <div class="widget no-box">
                        <h5 class="widget-title">Download App</h5>
                        <ul class="thumbnail-widget">  
                            <li>
                                <div class="thumb-content button-footer"><a href="#."><i class="fab fa-apple apple"></i>Apple IOs</a></div>
                            </li>
                            <li>
                                <div class="thumb-content button-footer"><a href="#."><i class="fab fa-google-play"></i>Google Play</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 "> 
                <p>CopyRight &copy; 2010-2020 powered by <a href="#">Ahmed Mostafa</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>