<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learining</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">


</head>
<body>
    <!--Start Navbar-->
    <app-navbar></app-navbar>
    <!--End Navbar-->

    <div class="hero-image">
        <div class="overlay-text">
            <div class="container-text">
                <h3 class="first">Learn Something New</h3>
                <h3 class="second">Everyday Anywhere Anytime</h3>
                <p class="content">It is a long established fact that a reader will be distracted by the there are many cats and dog tuitorial series.</p>
                <span class="content-pay">Only 499 SR</span>
            </div>
        </div>
    </div>
    <!--Start Live Events-->
    <section class="live-events">
        <div class="container">
            <div class="row">
                    <div class="col-lg-12 head-events">
                        <h2 ><span class="onespan">Live Events </span><span class="andspanquote">&</span> Courses</h2>
                        <a href="#" class="btnbrowse">Browse All</a>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" >
                            <img src="../../../assets/img/MEDICAL-JOBS-TS.jpg" class="card-img-top" alt="...">
                            <a href="#" class="badge badge-primary">Event</a>
                            <div class="card-body">
                            <span class="date">06 Apr 2020 to 07 Apr 2020 </span>
                            <span class="buy">Buy</span>
                              <p class="card-text">Cardiovascular pharmacology 2</p>
                              <p class="card-text">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                              <span class="views">2,526,471 Views</span> 
                              </p>  
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" >
                            <img src="../../../assets/img/Professor-Adam-Fox-allergist.jpg" class="card-img-top" alt="...">
                            <a href="#" class="badge badge-danger">Course</a>
                            <div class="card-body">
                            <span class="date">06 Apr 2020 to 07 Apr 2020 </span>
                            <span class="buy">Buy</span>
                              <p class="card-text">1ST Saudi International Conference for clinical Laboratory Sciences</p>
                              <p class="card-text">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                              <span class="views">2,526,471 Views</span> 
                              </p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" >
                            <img src="../../../assets/img/MEDICAL-JOBS-TS.jpg" class="card-img-top" alt="...">
                            <a href="#" class="badge badge-primary">Event</a>
                            <div class="card-body">
                            <span class="date">06 Apr 2020 to 07 Apr 2020 </span>
                            <span class="buy">Buy</span>
                              <p class="card-text">EKG/ECG Interpretation Explained Clearly</p>
                              <p class="card-text">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                              <span class="views">2,526,471 Views</span> 
                              </p>    
                            </div>
                          </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" >
                            <img src="../../../assets/img/Liver-Cancer-Therapeutics.jpg" class="card-img-top" alt="...">
                            <a href="#" class="badge badge-danger">Course</a>
                            <div class="card-body">
                            <span class="date">06 Apr 2020 to 07 Apr 2020 </span>
                            <span class="buy">Buy</span>
                              <p class="card-text">Cardiovascular pharmacology 2.</p>
                              <p class="card-text">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                              <span class="views">2,526,471 Views</span> 
                              </p>
                              </div>     
                            </div>
                    </div>


            </div>
            </div>
    </section>
    <!--End Live Events-->
    <!--Start Choose Us-->
    <section class="choose-us">
        <div class="row">
            <div class="col-lg-4 left-image">
                <img src="../../../assets/img/Image_shape.png" alt="">
            </div>
            <div class="col-lg-4 padd-top">
                <div class="head-choose">
                    <h2>Why You Should</h2>
                    <h3>Choose Us</h3>
                    <p>There are many variations of passages of lorem lipsum avaliable, some form, by injected homour.</p>
                </div>
                <div class="choose-features">
                    <ul >
                        <div class="item-check">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <li>24000 + Online Course</li>
                        </div>
                        <div class="item-check">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <li>Expert Instruction</li>
                        </div>
                        <div class="item-check">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <li>Expert Instruction</li>
                        </div>
                        <div class="item-check">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <li>Unlimited Access</li>
                        </div>
                        <div class="item-check">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <li>Comfortable Prices</li>
                        </div>
                        <div class="item-check">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <li>Top Instructors</li>
                        </div>
                        <div class="item-check">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <li>Review System</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 padd-top">
                <div class="enroll-member">
                    <h2>Enroll Our Members</h2>
                    <h3>Feedback</h3>
                </div>
                <div class="card-id">
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially, unchanged</p>
                    <img src="../../../assets/img/passport_5c1613a9-1c90-4e4f-833d-7f32b37c3434.jpeg" alt="">
                    <h6>Khadija ElNaser</h6>
                    <span>CEO, NRD Group</span>
                </div>
            </div>
        </div>
    </section>
    <!--End Choose Us-->

    <!--Start Youtube Section-->
    <section class="youtube">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="laptop">
                        <img src="../../../assets/img/video-mockup.png" alt="">
                        <iframe
                        src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
                        </iframe>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Youtube Section-->
    <!--Start Instructor Section-->
    <section class="testiomnalis">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="head-testi">
                        <h3>Top Rated <span>Instructor</span></h3>
                    </div>
<!--                     <div class="slider_nav">
                        <a class="am-next"><i class="fas fa-long-arrow-alt-left"></i></a>
                        <a class="am-prev"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </div> -->
                </div>
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <video autoplay muted loop id="myVideo">
                        <source src="fleuropdemo.mp4" type="video/mp4">
                        </video>
                        <div class="video-wrapper">
                            <p>FLEUR OP / BEZORGT EEN GOED GEVOEL</p>
                            <h2>HET GEVOEL VAN BLOEMEN ANDERS VERTELD</h2>
                        </div>
                    </div>
               ...2 more .item
            </div>
                <div class="col">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/Dr.-Professor-Dr-Hafiz-Shehzad-Ashraf-360x278.jpg" alt="">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/Professor-Adam-Fox-allergist.jpg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/images.jpg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/Ahsan-Iqbal-001.jpg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/passport_5c1613a9-1c90-4e4f-833d-7f32b37c3434.jpeg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/Dr.-Professor-Dr-Hafiz-Shehzad-Ashraf-360x278.jpg" alt="">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/CU-Doctors-2428.jpg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/images.jpg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/Ahsan-Iqbal-001.jpg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="../../../assets/img/passport_5c1613a9-1c90-4e4f-833d-7f32b37c3434.jpeg">
                                <div class="overlay">
                                    <div class="text-curousel">
                                        <h6>Pauline Johns<br><span>Professor & PHD</span></h6>
                                        <span>4.89</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template> 
                    </owl-carousel-o>

                </div>
            </div>
        </div>
    </section>
    <!--End Instructor Section-->
    <!--Start NewsLetters-->
    <section class="home-newsletter">
        <div class="container">
            <div class="row">
                <div class="col text-center content-news">
                    <h6>To Get Latest News & Further Update</h6>
                    <h4>Subscribe Our Newsletter</h4>
                    <span href="#" class="btnSubscribe">Subscribe</span>
                </div>
            </div>
        </div>
    </section>
    <!--End NewsLetters-->
    <app-footer></app-footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsiveClass: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            },
            navText: [$('.am-next'),$('.am-prev')]
        })
            </script>
</body>
</html>